   .Doc 
   {
    background-color:rgba(255, 255, 255, 0,5);
    background-image: url("./Images/BG - P.jpg");
    width: 10;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    opacity: 1;
    filter: alpha(opacity=80);
    zoom:1;

    background-color: rgba(255, 255, 255, 0.5);
  }

.T1{
      text-align: center;
      background-color: rgb(255, 255, 255);
  }

.T2{
    text-align: center;
    background-color:  rgb(255, 255, 255);
    
}
.T3{
    text-align: center;
    background-color:  rgb(210, 232, 245);   
}
.table{
    padding: 0;
    border-spacing: 0;
    opacity: 0.8;
}

.BTN1{
    width: 400px;
    display: flex;
    justify-content: center;
}